<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<title>album list</title>
	<link rel="stylesheet" type="text/css" href="{% static "css/mystyle.css"%}"/>
</head>
<body>
	<h1>list of albums</h1>
	<div class="djangotwo">
		{% if album_records %}
		<table>
			<tr>
				<thead>
					<th>Album Name</th>
					<th>Release Date</th>
				</thead>
			</tr>
			{% for al in album_records%}
			<tr>
				<td>{{ al.name }}</td>
				<td>{{ al.release_date }}</td>
			</tr>
			{%endfor%}
		</table>

		{% else %}
			<p>No albums found</p>

		{% endif%}	
	</div>

</body>
</html>